<footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contatti dello zoo</h5>
  
          <p>
            Indirizzo: Via dello Zoosafari, 72015, Fasano, ItaliaAperto<br>
            Telefono: +39 080 441 4455<br>
            Email: info@zoosafari.it
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Seguici sui Social Media</h5>
          
          <ul class="list-unstyled">
            <li><a href="https://www.facebook.com/zoosafarifasano/?locale=it_IT" class="text-dark">Facebook</a></li>
            <li><a href="https://www.instagram.com/zoosafarifasano/" class="text-dark">Twitter</a></li>
            <li><a href="https://twitter.com/ZooSafariPuglia" class="text-dark">Instagram</a></li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>